    .menu-warp{
        position: absolute;
        right: 71%;
        top: 28%;
    }

    li.dropdown {
        display: inline-block;

	}

	.dropdown:hover .isi-dropdown {
		display: block;
	}

	.isi-dropdown a:hover {
        color: #fff !important;
    }

	.isi-dropdown {
        position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		background-color: #f9f9f9;
    }

	.isi-dropdown a {
        color: #4400ff !important;
	}

	.isi-dropdown a:hover {
		color: #4400ff !important;
		background: #f3f3f3 !important;
	}